.App {
  text-align: center;
  margin: 0px;
  padding: 0px;
}

/* CONTENT HEADER */
header {
  background-color:bisque;
  display: flex;
  flex-direction: row;
  padding: 0 2em;
  justify-content: space-around;
  font-size: calc(2px + 2vmin);
  color: white;
}
.main-content {
  min-width: 50%;
}
nav {
  min-width: 50%;
}
.concept-list {
  list-style: none;
}

/* CONTENT CRUD */
body .crud-note {
  background-color: burlywood;
  padding: 5em;
}
.crud-note p {
  /* this is specifically in the content placeholder,
  remove as needed */
  margin: 0px;
}

/* CONTENT BODY */
/* this will be nav component pages */
body .list-note {
  background-color: cadetblue;
  padding: 3em;
  min-height: 100vh;
}
.list-note p {
  /* this is specifically in the content placeholder,
  remove as needed */
  margin: 0px;
}
